<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gradle.demo.dao.ClassroomMapper">
    <resultMap id="BaseResultMap" type="gradle.demo.model.Classroom">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="building_number" property="buildingNumber" jdbcType="INTEGER"/>
        <result column="classroom" property="classroom" jdbcType="VARCHAR"/>
        <result column="capacity" property="capacity" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="principal" property="principal" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="VARCHAR"/>
        <result column="modify_date" property="modifyDate" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, building_number, classroom, capacity, status, principal, create_date, modify_date
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from classroom
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="query" resultMap="BaseResultMap" parameterType="gradle.demo.model.dto.ClassroomQueryParam">
        SELECT
        <include refid="Base_Column_List" />
        FROM classroom
        <if test="buildingNumber != null">
            WHERE building_number = #{buildingNumber, jdbcType=INTEGER}
        </if>
        <if test="classroom != null and classroom != '' ">
            AND classroom = #{classroom, jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            AND status = #{status, jdbcType=INTEGER}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from classroom
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="gradle.demo.model.Classroom">
        <selectKey resultType="INTEGER" order="BEFORE" keyProperty="id">
            SELECT gen_id('classroom') as id
        </selectKey>
        insert into classroom (id, building_number, classroom,
        capacity, status, principal, create_date)
        values (#{id, jdbcType=INTEGER}, #{buildingNumber,jdbcType=INTEGER}, #{classroom,jdbcType=VARCHAR},
        #{capacity,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{principal, jdbcType=VARCHAR}, sysdate() + '0')
    </insert>
    <update id="updateByPrimaryKey" parameterType="gradle.demo.model.Classroom">
    update classroom
    set building_number = #{buildingNumber,jdbcType=INTEGER},
      classroom = #{classroom,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=INTEGER},
      principal = #{principal, jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      modify_date = sysdate() + '0'
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>