<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gradle.demo.dao.CollegeMapper" >
  <resultMap id="BaseResultMap" type="gradle.demo.model.College" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="brief_introduction" property="briefIntroduction" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, address, brief_introduction, create_date, modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from college
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByIds" resultMap="BaseResultMap">
    <if test="ids != null and ids.size() > 0">
      SELECT
      <include refid="Base_Column_List" />
      FROM college
      WHERE id in
      <foreach collection="ids" separator="," open="(" close=")" index="index" item="item">
        #{item}
      </foreach>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from college
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="gradle.demo.model.College" >
    <selectKey resultType="INTEGER" order="BEFORE" keyProperty="id">
      SELECT gen_id('college') as id
    </selectKey>
    insert into college (id, name, address, 
      brief_introduction, create_date)
    values (#{id, jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{briefIntroduction,jdbcType=VARCHAR}, sysdate() + '0'
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="gradle.demo.model.College" >
    update college
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      brief_introduction = #{briefIntroduction,jdbcType=VARCHAR},
      modify_date = sysdate() + '0'
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>