<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gradle.demo.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="gradle.demo.model.Course" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="brief_introduction" property="briefIntroduction" jdbcType="VARCHAR" />
    <result column="classroom_id" property="classroomId" jdbcType="INTEGER" />
    <result column="begin_period" property="beginPeriod" jdbcType="VARCHAR" />
    <result column="end_period" property="endPeriod" jdbcType="VARCHAR" />
    <result column="lesson" property="lesson" jdbcType="INTEGER" />
    <result column="term" property="term" jdbcType="INTEGER" />
    <result column="building_number" property="buildingNumber" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="classroom" property="classroom" jdbcType="VARCHAR" />
    <result column="t_ids" property="tIds" jdbcType="VARCHAR" />
    <result column="join_end_time" property="joinEndTime" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="INTEGER" />
    <result column="class_begin" property="classBegin" jdbcType="INTEGER" />
    <result column="class_end" property="classEnd" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, brief_introduction, classroom_id, begin_period, end_period, t_ids, join_end_time,
    lesson, term, building_number, classroom, code,
    day, class_begin, class_end, create_date, modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByIds" resultMap="BaseResultMap">
    <if test="ids != null and ids.size() > 0">
      SELECT
      <include refid="Base_Column_List" />
      FROM course
      WHERE id in
      <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
        #{item}
      </foreach>
    </if>
  </select>
  <select id="selectInUseByClassroomId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM course
    WHERE classroom_id = #{classroomId, jdbcType=INTEGER}
    <if test="currentTime != null">
      AND
      <![CDATA[
    (begin_period <= #{currentTime} AND end_period >= #{currentTime})
    ]]>
    </if>
    <if test="day != null">
      AND
      day = #{day, jdbcType=INTEGER}
    </if>
    ORDER BY day, class_begin
  </select>
  <select id="selectByCode" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM course
    WHERE code = #{code, jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="gradle.demo.model.Course" >
    <selectKey resultType="INTEGER" order="BEFORE" keyProperty="id">
      SELECT gen_id('course') as id
    </selectKey>
    insert into course (id, name, brief_introduction,
      classroom_id, begin_period, end_period,
      lesson, term, building_number, classroom, code,
      t_ids, join_end_time, day, class_begin, class_end, create_date)
    values (#{id, jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{briefIntroduction,jdbcType=VARCHAR},
      #{classroomId,jdbcType=INTEGER}, #{beginPeriod,jdbcType=VARCHAR}, #{endPeriod,jdbcType=VARCHAR},
      #{lesson, jdbcType=INTEGER}, #{term, jdbcType=INTEGER},
      #{buildingNumber, jdbcType=INTEGER}, #{classroom, jdbcType=VARCHAR}, #{code, jdbcType=VARCHAR},
      #{tIds,jdbcType=VARCHAR}, #{joinEndTime,jdbcType=VARCHAR},
      #{day, jdbcType=INTEGER}, #{classBegin, jdbcType=INTEGER}, #{classEnd ,jdbcType=INTEGER}, sysdate() + '0')
  </insert>
  <update id="updateByPrimaryKey" parameterType="gradle.demo.model.Course" >
    update course
    set name = #{name,jdbcType=VARCHAR},
      brief_introduction = #{briefIntroduction,jdbcType=VARCHAR},
      classroom_id = #{classroomId,jdbcType=INTEGER},
      begin_period = #{beginPeriod,jdbcType=VARCHAR},
      end_period = #{endPeriod,jdbcType=VARCHAR},
      lesson = #{lesson,jdbcType=INTEGER},
      term = #{term, jdbcType=INTEGER},
      building_number = #{buildingNumber, jdbcType=INTEGER},
      classroom = #{classroom, jdbcType=VARCHAR},
      join_end_time = #{joinEndTime,jdbcType=VARCHAR},
      day = #{day, jdbcType=INTEGER},
      class_begin = #{classBegin, jdbcType=INTEGER},
      class_end = #{classEnd, jdbcType=INTEGER},
      modify_date = sysdate() + '0'
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>