<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gradle.demo.dao.ExperimentDetailMapper" >
  <resultMap id="BaseResultMap" type="gradle.demo.model.ExperimentDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ep_file_url" property="epFileUrl" jdbcType="VARCHAR" />
    <result column="ep_file_name" property="epFileName" jdbcType="VARCHAR" />
    <result column="upload_date" property="uploadDate" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="VARCHAR" />
    <result column="ep_id" property="epId" jdbcType="INTEGER" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="ep_record_id" property="epRecordId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="upload_name" property="uploadName" jdbcType="VARCHAR"/>

  </resultMap>
  <sql id="Base_Column_List" >
    id, ep_file_url, ep_file_name, upload_date, create_date, modify_date, ep_id, ep_record_id, user_id, score,
    upload_name, comment, id_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from experiment_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByEPRecordId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM experiment_detail
    WHERE ep_record_id = #{epRecordId, jdbcType=INTEGER}
  </select>
  <select id="selectByEPRecordAndUserId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM experiment_detail
    WHERE ep_record_id = #{epRecordId, jdbcType=INTEGER}
    and user_id = #{userId, jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from experiment_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="gradle.demo.model.ExperimentDetail" >
    <selectKey resultType="INTEGER" order="BEFORE" keyProperty="id">
      SELECT gen_id('experiment_detail') as id
    </selectKey>
    insert into experiment_detail (id, ep_file_url, ep_file_name, 
      upload_date, create_date,
      ep_id, ep_record_id, user_id, id_number, score, comment, upload_name)
    values (#{id, jdbcType=INTEGER}, #{epFileUrl,jdbcType=VARCHAR}, #{epFileName,jdbcType=VARCHAR},
      sysdate() + '0', sysdate() + '0',
      #{epId,jdbcType=INTEGER}, #{epRecordId,jdbcType=INTEGER}, #{userId, jdbcType=INTEGER}, #{idNumber, jdbcType=VARCHAR},
      #{score, jdbcType=VARCHAR}, #{comment, jdbcType=VARCHAR}, #{uploadName, jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="gradle.demo.model.ExperimentDetail" >
    update experiment_detail
    set ep_file_url = #{epFileUrl,jdbcType=VARCHAR},
      ep_file_name = #{epFileName,jdbcType=VARCHAR},
      upload_date = #{uploadDate,jdbcType=VARCHAR},
      modify_date = sysdate() + '0',
      ep_id = #{epId,jdbcType=INTEGER},
      ep_record_id = #{epRecordId,jdbcType=INTEGER},
      user_id = #{userId, jdbcType=INTEGER},
      score = #{score, jdbcType=VARCHAR},
      comment = #{comment, jdbcType=VARCHAR},
      upload_name = #{uploadName, jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>